# PostgreSQL Configuration
CONNECTIONSTRINGS_EXPENSETRACKER=Host=Your-host;Port=Your-DB-port;Database=Your-DB;Username=Db-Password;
POSTGRES_USER=Your-User
POSTGRES_PASSWORD=Your-Password
POSTGRES_DB=DB-NAME

# JWT Configuration
JWT_KEY=your-256-bit-secret-key-at-least-32-characters-long-for-signing
JWT_ISSUER=ExpenseTrackerApi
JWT_AUDIENCE=ExpenseTrackerClient
JWT_EXPIRYMINUTES=Time-for-the-token-to-expire

# ASP.NET Core Environment
ASPNETCORE_ENVIRONMENT=Development
